<ion-view title="Моя корзина" ng-init="recount()">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-search-strong search-button" ng-click="search()"></button>
    </ion-nav-buttons>

    <ion-content class="cart-content" scroll="false">
        <div class="cart">
            <div class="cart-title-container">
                <div class="cart-title-text color-easyBlue">В вашей корзине {{cart.length}} товаров</div>
            </div>
            <ion-scroll class="cart-scroll itemcard-description" direction="y">
                <div class="cart-item row" ng-repeat="product in cart.products">
                    <div class="cart-picture" ng-style="{'background-image':'url('+product.picture+')'}"></div>
                    <a class="col col-10 cart-cancle button button-icon icon ion-ios-close-outline button-small"
                       ng-click="deleteFromCart(product); recount();"></a>

                    <div class="col col-10 cart-pic-container">
                        <div class="cart-picture"
                             ng-style="{'background-image':'url('+baseUrl+product.picture+')'}"></div>
                    </div>
                    <div class="col col-30">
                        <span class="color-easyBlue">{{product.title}}</span><br>
                        <span class="color-hardBlue weight-bold font-size-12">{{product.price.eur}} EUR</span>
                    </div>
                    <a class="color-hardBlue font-size-2 col col-10 button button-icon icon ion-ios-arrow-down button-small"
                       ng-click="(product.quantity=product.quantity > 1 ? product.quantity-1 : 1) && recount();"></a>

                    <div class="col col-10 cart-item-quantity">
                        <div class="font-size-12 color-hardBlue" ng-bind="product.quantity"></div>
                    </div>
                    <a class="color-hardBlue font-size-2 col col-10 button button-icon icon ion-ios-arrow-up button-small"
                       ng-click="(product.quantity=product.quantity+1) && recount();"></a>

                    <div class="cart-price"><span class="price-span weight-bold font-size-12 color-orange">{{product.price.eur*product.quantity}}<span
                            class="font-size-08">€</span></span></div>

                </div>
                <div class="font-size-14 cart-sum row">
                    <div class="color-easyBlue weight-bold col col-33">Итого:</div>
                    <div class="col col-66 ">
                        <span> &nbsp руб</span> <span class="color-hardBlue" ng-bind="cart.fullPrice['rub']"></span>
                        <span>/ &nbsp</span><span class="color-orange font-size-08">&nbsp € &nbsp</span><span
                            class="color-orange" ng-bind="cart.fullPrice['eur']"></span>
                    </div>
                </div>
            </ion-scroll>
        </div>
        <div class="cart-footer row">
            <div class="col right" ng-click="go('menu.order')">
                <div class="text align middle">Оформить заказ
                </div>
                <div class="arrow align middle">
                    <a class="button button-icon icon ion-ios-arrow-right button-small button-middle"></a></div>
            </div>
        </div>


    </ion-content>
</ion-view>