<ion-view title="Мои заказы" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <search-bar ng-model="search"></search-bar>
    <ion-content scroll="false">
        <div class="history">
            <div class="cart-title-text color-easyBlue">На этой странице вы можете отслеживать статус выполнения заказов.</div>
            <ion-scroll class="cart-scroll itemcard-description" direction="y">
                <div class="hist-item row" ng-repeat="order in orderHistory">
                    <div class="col col-66 hist-item-text">
                        <span class="orderNumber color-easyBlue">Заказ №{{order.id}}</span><br>
                        <span class="color-hardBlue">{{order.order.length}} на сумму
                            <span class="color-orange">{{(order.p * 1).toFixed()}} EUR</span>
                            <!--<span class="color-hardBlue">({{order.p * exchangeRate}} руб)</span>-->
                        </span>
                    </div>
                    <div class="butt col col-33">
                        <button class="button button-small button-balanced" ng-class="'order-'+order.status">
                            {{ statusToText(order.status) }}
                        </button>
                    </div>
                </div>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>