<ion-view title="Поиск" class="">

    <search-bar ng-model="search"></search-bar>
    <ion-content scroll="false">
        <div class="catalog">
            <ion-scroll class="catalog-content">
                <div class="text color-easyBlue font-size-09">В категории {{products.length || 0}} товаров:</div>
                <div class="popular" ng-class-even="'even'" ng-repeat="product in products" ng-click="go('menu.itemCard', {id: product.id, title: product.title})">
                    <div class="picture-container">
                        <!--<div class="picture" ng-style="{'background-image':'url(' + baseUrl + 'components/com_virtuemart/assets/images/vmgeneral/noimage2.jpg' + ')'}"></div>-->
                        <div class="picture" ng-style="{'background-image':'url(' + baseUrl + product.picture + ')'}"></div>
                    </div>
                    <div class="description align middle">
                        <div class="name color-hardBlue font-size-12 weight-bold">{{product.title}}</div>
                        <div class="art color-easyBlue font-size-08">Арт.:{{product.sku}}</div>
                        <div class="price color-hardBlue font-size-09">Цена:
                            <span class="color-orange font-size-12">{{product.price['eur']}} EUR </span>
                            <!--<span class="color-hardBlue font-size-12">({{product.price['rub']}} RUR)</span>-->
                        </div>
                    </div>
                </div>
            </ion-scroll>
            <div class="footer row">
                <div class="col col-50 left ">
                    <div class="align middle">
                        <!--В корзине {{cart.length}} товаров на сумму: <span>{{cart.fullPrice.rub}} руб.</span>-->
                        В корзине {{cart.length}} товаров на сумму: <span>{{(cart.fullPrice['eur'] || 0)}} EUR</span>
                    </div>
                </div>
                <div class="col col-50 right">
                    <div class="align middle" ng-click="go('menu.cart')">Моя корзина
                        <a class="button button-icon icon ion-ios-arrow-right button-small button-middle"></a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>